<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="/notInjectedStyles/login.css">
<!-- <script src="https://use.typekit.net/ayg4pcz.js"></script> -->
<!-- <script>try{Typekit.load({ async: true });}catch(e){}</script> -->

<div class="container">
    <h1 class="welcome text-center"><img src="images/bigIcon.png" width="120px" height="120px"></h1>
    <div class="card card-container">
    <h2 class='text-center'>Something's fishy here.</h2>
    <hr>
        <h4>
            <% if (typeof data!== 'undefined') { %>
              <%= data %>
              <% } else { %>
              The page you were trying to reach doesn't exist.
              <% } %>
        </h4>
    </div><!-- /card-container -->
</div><!-- /container -->
