<link rel="stylesheet" href="/notInjectedStyles/general.css">
<div class="alert alert-warning" role="alert">
    Under construction
</div>
<div class="container" style="text-align: center">
    <h1>This is the admin page</h1>
</div>