<h1>This is the admin page</h1>

<form method="POST" action="/newInfo">
    Category:<br>
    <input type="text" name="category" value="">
    <br>
    Title:<br>
    <input type="text" name="title" value="">
    <br>
    Content:<br>
    <input type="text" name="content" value="">
    <br>
    Url:<br>
    <input type="text" name="url" value="">
    <br>
    Type:<br>
    <input type="text" name="type" value="">
    <br>
    
    <br>
    <input type="submit" value="Submit">



    <button><a href="/information/categor"></a></button>
</form> 