<link rel="stylesheet" href="/notInjectedStyles/general.css">
<div class="container">
    <form method="POST" action="/newInfo">
        Category:<br>
        <input type="text" name="category" value="">
        <br>
        Title:<br>
        <input type="text" name="title" value="">
        <br>
        Content:<br>
        <input type="text" name="content" value="">
        <br>
        Url:<br>
        <input type="text" name="url" value="">
        <br>
        Type:<br>
        <input type="text" name="type" value="">
        <br>
        
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form> 
</div>